<div class="container">
  <form action="">
    <div class="form-group">
      <label for="quote"></label>
      <textarea type="text" cols='30' rows='10' class="form-control" name="" id="" placeholder="Write quote here"></textarea>
    </div>
    <div class="form-group">
      <label for="Author"></label>
      <input type="text" class="form-control" name="" id="" placeholder="Author">
    </div>
    <div class="form-group">
      <label for="Your name"></label>
      <input type="text" class="form-control" name="" id="" placeholder="Your name">
    </div>
    <div class="form-group">
      <label for="Time posted"></label>
      <input type="text" class="form-control" name="" id="" placeholder="Time posted">
    </div>
    <div class="form-group">
      <button class="btn btn-primary">Submit quote</button>
    </div>

  </form>
</div>