<div class=" row container">
  <div class="col-md-4" *ngFor="let quote of quotes; let i= index">
    <div class="card">
      <p>{{quote.description}}</p>
      <p>
        {{quote.author}}
      </p>
      <p>{{quote.postedBy}}</p>
      <p>{{quote.timePosted}}</p>
      <div>
        <button (click)="inspired()" class="btn btn-primary">upVote</button><span>{{quote.upVote}}</span>
        <button (click)="terrible()" class="btn btn-primary">downVote</button></div><span>{{quote.downVote}}</span>
    </div>
  </div>
</div>
<app-form (addQuote)="addNewQuote($event)"></app-form>