  #display-section {
    background-color: black;
  }
  
  .card {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 20px;
    color: black;
    border-color: #24E493;
  }
  
  .card:hover {
    transform: scale(1.1);
    border-style: groove;
  }
  
  #quote-des {
    font-family: 'Sofia', cursive;
    font-size: 18px;
  }
  
  em {
    font-size: x-large;
    font-weight: 900;
  }
  
  #author {
    font-family: 'Luxurious Roman', cursive;
    font-size: 14px;
    font-weight: 600;
  }
  
  #thumb {
    color: #24E493;
    background-color: transparent;
    font-size: 20px;
    border-radius: 7px;
  }
  
  button:hover {
    transform: scale(1.2);
  }
  
  #post {
    font-family: 'Luxurious Roman', cursive;
    font: size 14px;
  }
  
  #em {
    font-family: 'Luxurious Roman', cursive;
    font-size: 12px;
    font-weight: bolder;
  }
  
  #highlight {
    font-family: 'Luxurious Roman', cursive;
    font-size: 23px;
    font-weight: bolder;
    color: white;
  }