<div>
  <p>{{quotes.postedBy}}</p>
  <p>{{quotes.timePosted}}</p>
  <div>
    <button (click)="inspired()" class="btn btn-primary">upVote</button><span>{{quotes.upVote}}</span>
    <button (click)="terrible()" class="btn btn-primary">downVote</button>
    <span>{{quotes.downVote}}</span>
    <div (click)="quoteDelete(true)" class="btn btn-danger">Delete</div>
  </div>
</div>




<!-- <div class="quote-description">
  <div class="votes">
    Total Up Votes: <span>{{quote.upVote}}</span>
  </div>
  <p>Created by : {{quote.postedBy}} on {{quote.timePosted | date}}</p>
  <div *ngIf='quote.showButton' class="btns">
    <button class="hide" (click)='showDetails'> Hide Description</button>
    <button (click)='quoteDelete(true)'>Delete</button>
  </div>
</div> -->