<div class="container-fluid landingpage " id=" ">
  <div>
    <nav class="navbar navbar-expand-lg bg- light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Quotes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Add Quote</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row container-md">
    <div class="col-md-6 d-flex align-self-center">
      <h1 id="appname">UniQuotes</h1>
    </div>
    <div class="col-md-6 ">
      <img src="/src/assets/homepage.jpg" class="img-fluid" alt="addquote.jpg">
    </div>

  </div>

</div>